
<div class="main-body">
   <div class="tabs">
        <a  ui-sref="teacher.paperCreate">创建试卷</a>
        <a class="active" ui-sref="teacher.publishPaper">查看试卷</a>
 
    </div>
    <div class="panel">
      
        <div class="panel-header">
            <div class="float-left">
                <h3>试卷列表</h3>
            </div>
        </div>
        <div class="panel-body">
                <table class="table table-bordered">
                <thead>
                <tr>
                    <th>试卷名称</th>
                    <th>创建时间</th>
                    <th>操作</th>
                    <th></th>
                    <th></th>
                </tr>
                </thead>
                <tbody>
                <tr ng-repeat="paper in $ctrl.papers">        
                    <td>
                        <a ui-sref="teacher.paperDetail({testpaperID:paper.testpaperID,testName:paper.testName})" ng-bind="paper.testName"></a>
                    </td>
                     <td ng-bind="paper.createTime | date:'yyyy-MM-dd HH:mm:ss'"> </td>
                    <td>
                       <button class="btn" ng-if="paper.status === 0" ng-click="$ctrl.publishPaper(paper)">发布<button>
                    
                       <button class="btn" ng-if="paper.status === 1"  ui-sref="teacher.paperResult({testpaperID:paper.testpaperID,testName:paper.testName})">查看</button>
                    </td>
                     <td>
                       <button class="btn"  ng-click="$ctrl.deletePaper(paper.testpaperID)">删除</button>
                    </td>
                     <td>
                       <button class="btn"  ng-click="$ctrl.downloadPaper(paper.testpaperID)">生成试卷</button>
                    </td>
                 </tr>
                </tbody>
            </table>
             <a href="{{$ctrl.paperLink}}" download="a.txt" ng-show="$ctrl.isDownload">下载试卷</a>
        </div>
    </div>
</div>