
<div class="main-body">
    <div class="tabs">
        <a  ui-sref="teacher.teacherManagerClassCreate">创建班级</a>
        <a  ui-sref="teacher.teacherAssignStudent">分配班级</a>
        <a  ui-sref="teacher.UserInfo">个人信息</a>
        <a  class="active" ui-sref="teacher.teacherUploadFile">上传资源</a>
     </div>
    <div class="panel">
        <div class="panel-body clearfix">
            <div class="form col2">
                <div class="form-item">
                    <span class="label">文件上传进度</span>
                    <span class="progress-bar">
                        <div class="progress-bar-inner"  ng-attr-style="width:{{$ctrl.progress+'%'}};">
                            {{$ctrl.progress+'%'}}
                        </div>
                    </span>
                </div>
                <div class="form-item single-line" >
                    <span class="file clearfix">
                        <!--选择文件之后，将文件路径绑定到file-item的背景中，将pre-select类替换成select类，即隐藏加号图标，显示垃圾桶图标，点击垃圾桶图标可删除图片-->
                        <div  class="file-item pre-select imgArray" background-size: contain;">
                     
                             <input type="file"  class="js_file">  
                        </div>
                    </span>
                  
                </div>
                
            </div>
        </div>
        <div class="panel-footer">
             <div class="btn-group" >
                 <button type="button"  class="btn btn-impo" ng-click="$ctrl.uploadFile()">上传</button>
            </div>
            <span style="color:red" ng-bind="$ctrl.msg"></span>
        </div>
    </div>
</div>