<nav>
<header>
        <a href="#" class="icon-button"><span class="icon icon-menu"></span></a>
        <h1>管理</h1>
    </header>
    <section>
        <div class="user-profile">
            <img src="images/profile-small.jpg" alt="David Williams">
            <h4 class="user-name">David Williams</h4>
            <p class="user-title">admin <a href="#"><tophead></tophead></a></p>
        </div>
    </section>
    <footer>
        Study Version Info<br>
        Operation System Info
    </footer>
</nav>